src/levels.txt
src/main
src/posterior_sample.txt
src/sample.txt
src/sample_info.txt
src/weights.txt
src/sampler_state.txt
src/__pycache__
src/run_data.txt
src/logfile
src/dnest4.lib
src/main.exe
runs/
doc/ms.aux
doc/ms.bbl
doc/ms.blg
doc/ms.log
doc/ms.pdf

